@-webkit-keyframes windows {
  0% {
    left: -75%;
  }
  100% {
    left: 175%;
  }
}

@keyframes windows {
  0% {
    left: -75%;
  }
  100% {
    left: 175%;
  }
}

@-webkit-keyframes menu {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes menu {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes menuback {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes menuback {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-moz-selection {
  background: #ee2b3f;
}

*::selection {
  background: #ee2b3f;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: #191a1c;
  background-image: url(../img/bg-paterns.png);
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
}

textarea:focus,
button:focus,
input:focus {
  outline: none;
  border: 1px solid #ee2b3f !important;
}

.wrapper {
  min-width: 200px;
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
}

.text-title {
  position: relative;
  display: inline-block;
  font-size: 3.5rem;
  color: #939699;
  text-transform: capitalize;
  text-align: left;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin: 10rem 2rem 10rem 2rem;
  letter-spacing: 0.5px;
}

.text-title::before, .text-title::after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 4px;
  width: 24px;
  background-color: #ee2b3f;
  border-bottom-left-radius: 100px;
  right: 1.8rem;
  bottom: -1px;
}

.text-title::after {
  width: 15px;
  right: 0;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0px;
}

.hero {
  background-image: url(../img/header.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero__menu {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #222222;
  background-image: url(../img/bg-paterns.png);
  z-index: 500;
}

.hero__menu--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-animation: menu 0.75s;
          animation: menu 0.75s;
}

.hero__menu--back {
  -webkit-animation: menuback 0.75s;
          animation: menuback 0.75s;
}

.hero__menu-btn {
  position: absolute;
  right: 10px;
}

.hero__menu-btn button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2rem;
}

.hero__menu-btn button i {
  font-size: 3rem;
  color: #fff;
}

.hero__menu-box {
  background-image: url(../img/bg-paterns.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.hero__menu-list {
  background-color: transparent;
}

.hero__menu-list span {
  font-size: 1.5rem;
  color: #ee2b3f;
  display: inline-block;
}

.hero__menu-list a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #939699;
  padding: 2.6rem;
  font-size: 3rem;
}

.hero__menu-list a:before {
  position: absolute;
  content: "";
  display: inline-block;
  bottom: 17px;
  left: 10px;
  height: 0px;
  width: 2px;
  background-color: #ee2b3f;
  will-change: height;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.hero__menu-list a:hover::before {
  height: 60%;
}

.hero__menu-contact {
  display: none;
}

.hero__nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 1110px;
  width: 100%;
  max-width: 1110px;
}

.hero__nav--logo {
  width: 10rem;
  height: 3.5rem;
  margin: 2rem;
}

.hero__nav--logo img {
  height: 3.6rem;
}

.hero__nav--btn2 {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2rem;
}

.hero__nav--btn2 i {
  font-size: 3rem;
  color: #fff;
}

.hero__content {
  margin: 1em;
  color: #939699;
  font-size: 1.6rem;
  font-family: "Saira", sans-serif;
  letter-spacing: 0.5px;
}

.hero__content--text {
  border-left: 4px solid #313133;
  margin-bottom: 4rem;
}

.hero__content--text p {
  padding-left: 1rem;
}

.hero__content--text p:nth-child(even) {
  padding-left: 2rem;
}

.hero__content--fontsize {
  font-size: 2rem;
}

.aboutus__box {
  margin: 0 2rem 0 2rem;
}

.aboutus__img {
  position: relative;
  padding: 1.5rem;
  border: 1px solid #313133;
  -webkit-box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
}

.aboutus__img::after {
  display: block;
  position: absolute;
  content: "";
  height: 6px;
  width: 75%;
  background-color: #ee2b3f;
  position: absolute;
  bottom: 13px;
}

.aboutus__img-woman {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 800px;
  width: 100%;
  height: 100%;
}

.aboutus__skills {
  margin-top: 3rem;
}

.aboutus__name {
  text-transform: capitalize;
  font-family: "Saira", sans-serif;
  font-size: 2.8rem;
  color: white;
  text-align: left;
  letter-spacing: 1px;
  font-weight: 600;
}

.aboutus__description {
  line-height: 1.9;
  font-size: 1.2em;
  margin-bottom: 6rem;
  letter-spacing: 0.5px;
}

.aboutus__procent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}

.aboutus__procent::before, .aboutus__procent::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 100%;
  background-color: #313133;
  bottom: -20px;
  left: 0;
}

.aboutus__procent-pd::after {
  background-color: #ee2b3f;
}

.aboutus__procent-ud::after {
  background-color: #ee2b3f;
  width: 90%;
}

.aboutus__procent-md::after {
  background-color: #ee2b3f;
  width: 70%;
}

.aboutus__procent-title {
  display: inline-block;
  text-align: left;
}

.aboutus__procent-score {
  display: inline-block;
  text-align: right;
}

.aboutus__btn {
  -webkit-transition: border-top-color 0.2s ease-out, border-right-color 0.2s ease-in-out 0.15s, border-bottom-color 0.2s ease-in-out 0.25s, border-left-color 0.2s ease-in-out 0.4s, background-color 0.5s;
  transition: border-top-color 0.2s ease-out, border-right-color 0.2s ease-in-out 0.15s, border-bottom-color 0.2s ease-in-out 0.25s, border-left-color 0.2s ease-in-out 0.4s, background-color 0.5s;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  background: none;
  border: 2px solid #313133;
  color: #939699;
  cursor: pointer;
}

.aboutus__btn:hover {
  border-color: #ee2b3f;
  color: white;
}

.services__box {
  margin: 0 2rem;
}

.services__box-two {
  -webkit-box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
}

.services__elements {
  width: 100%;
  border: 1px solid #313133;
  padding: 2rem;
  -webkit-box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
  -webkit-transition: border-top-color 0.2s ease-out, border-right-color 0.2s ease-in-out 0.15s, border-bottom-color 0.2s ease-in-out 0.25s, border-left-color 0.2s ease-in-out 0.4s, background-color 0.5s;
  transition: border-top-color 0.2s ease-out, border-right-color 0.2s ease-in-out 0.15s, border-bottom-color 0.2s ease-in-out 0.25s, border-left-color 0.2s ease-in-out 0.4s, background-color 0.5s;
}

.services__elements:hover {
  border-color: #ee2b3f;
  background-color: transparent;
}

.services__elements i {
  font-size: 5rem;
  color: #939699;
}

.services__elements h4 {
  margin: 2rem 0;
  color: white;
  font-size: 2.5rem;
  font-weight: 200;
}

.services__elements-one, .services__elements-three {
  background-color: rgba(51, 51, 51, 0.2);
}

.services__elements-two {
  margin: 3rem 0;
  background-color: rgba(51, 51, 51, 0.5);
}

.services__box-two {
  margin-top: 10rem;
  border: 20px solid rgba(29, 30, 32, 0.7);
  background-color: #191a1c;
}

.services__item {
  text-align: center;
  margin: 6rem 0;
}

.services__item h3 {
  margin: 0.8rem 0;
  color: #fff;
  font-weight: 200;
  font-size: 5rem;
}

.services__item span {
  color: #ee2b3f;
  font-weight: 200;
}

.services__item p {
  font-weight: 700;
}

.projects__box {
  margin: 0 2rem;
}

.projects__box:last-child {
  margin-bottom: 0;
}

.projects__img {
  -webkit-box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
  will-change: filter;
  -webkit-transition: -webkit-filter 3s;
  transition: -webkit-filter 3s;
  transition: filter 3s;
  transition: filter 3s, -webkit-filter 3s;
}

.projects__img:hover img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.projects__img:hover .projects__img-filtr {
  opacity: 1;
}

.projects__img:hover .projects__img-content {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.projects__img-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  -webkit-transition: 3s;
  transition: 3s;
}

.projects__img-filtr {
  opacity: 0;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 25px;
  right: 25px;
  background-color: rgba(29, 30, 32, 0.4);
  z-index: 5;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

.projects__img-filtr i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  z-index: 1;
}

.projects__img-filtr-circle {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-clip-path: circle();
          clip-path: circle();
}

.projects__img h4 {
  font-size: 2rem;
}

.projects__img img {
  z-index: 0;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  will-change: filter;
  -webkit-transition: -webkit-filter 0.6s;
  transition: -webkit-filter 0.6s;
  transition: filter 0.6s;
  transition: filter 0.6s, -webkit-filter 0.6s;
}

.resume__boxs {
  margin: 0 2rem;
  z-index: 10;
}

.resume__box {
  position: relative;
  margin-bottom: 5rem;
  -webkit-box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
}

.resume__box::before {
  position: absolute;
  content: "";
  background-image: url(/img/dot.png);
  width: 90%;
  height: 30%;
  right: -20px;
  bottom: -25px;
  background-size: 10px;
  z-index: -10;
}

.resume__box-one {
  border-top: 3px solid #ee2b3f;
  background-color: #1a1a1a;
}

.resume__box-two {
  border-top: 3px solid #ffdb66;
  background-color: #222222;
}

.resume__box-two::before {
  will-change: opacity;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

.resume__box-two:hover::before {
  opacity: 1;
}

.resume__box-three {
  border-top: 3px solid #0cc7dd;
  background-color: #1a1a1a;
}

.resume__box-three::before {
  will-change: opacity;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

.resume__box-three:hover::before {
  opacity: 1;
}

.resume__box-content {
  margin-bottom: 3rem;
}

.resume__box-content h4 {
  padding: 3rem 2rem 2rem 2rem;
  font-size: 2rem;
  color: white;
}

.resume__box-content h5 {
  padding: 0.5rem 2rem;
  font-size: 1.1em;
  font-weight: 400;
  color: #fff;
}

.resume__box-content p {
  padding: 0 2rem;
  letter-spacing: 0.5px;
  line-height: 1.9;
  font-size: 1em;
  color: #939699;
  padding-bottom: 1.5rem;
}

.resume__box-content-two, .resume__box-content-four, .resume__box-content-six {
  position: relative;
}

.resume__box-content-two::before, .resume__box-content-four::before, .resume__box-content-six::before {
  position: absolute;
  left: 1.9rem;
  top: -2rem;
  content: "";
  height: 3px;
  width: 100px;
}

.resume__box-content-two p:last-child, .resume__box-content-four p:last-child, .resume__box-content-six p:last-child {
  padding-bottom: 3rem;
}

.resume__box-content-two::before {
  background-color: #ee2b3f;
}

.resume__box-content-four::before {
  background-color: #ffdb66;
}

.resume__box-content-six::before {
  background-color: #0cc7dd;
}

.team {
  margin: 0 2rem;
}

.team__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__box-img {
  position: relative;
  overflow: hidden;
}

.team__box-media {
  bottom: -70px;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

.team__box-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team__box-icon {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: #1a1a1a;
  border-radius: 3px;
  line-height: 40px;
  text-align: center;
  will-change: background;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.team__box-icon:hover {
  background-color: #ee2b3f;
}

.team__box-card {
  margin: 0 2rem;
  margin-bottom: 4rem;
  max-width: 690px;
  -webkit-box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
  width: 100%;
  background-color: #1a1a1a;
}

.team__box-card-one:hover .team__box-media {
  bottom: 30px;
}

.team__box-card-one:hover img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.team__box-card-two {
  background-color: #222222;
}

.team__box-card-two:hover .team__box-media {
  bottom: 30px;
}

.team__box-card-two:hover img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.team__box-card-three:hover .team__box-media {
  bottom: 30px;
}

.team__box-card-three:hover img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.team__box-card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  will-change: ofilter;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
  overflow: hidden;
}

.team__box-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}

.team__box-content h3 {
  font-size: 2rem;
  margin-left: 2rem;
  line-height: 2.6rem;
}

.team__box-content p {
  margin-left: 2rem;
  color: #939699;
  line-height: 2.6rem;
}

.blogs__content-box {
  margin: 0 2rem;
}

.blogs__content-card {
  position: relative;
  background-color: #1a1a1a;
  width: 100%;
  height: 50%;
  margin-bottom: 5rem;
  -webkit-box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
}

.blogs__content-card-one::after {
  background-color: #ee2b3f;
}

.blogs__content-card-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  will-change: width;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.blogs__content-card-one:hover::after {
  width: 100%;
}

.blogs__content-card-two::after {
  background-color: #ffdb66;
}

.blogs__content-card-two::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  will-change: width;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.blogs__content-card-two:hover::after {
  width: 100%;
}

.blogs__content-card-three::after {
  background-color: #0cc7dd;
}

.blogs__content-card-three::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  will-change: width;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.blogs__content-card-three:hover::after {
  width: 100%;
}

.blogs__content-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
}

.blogs__content-img::before {
  position: absolute;
  top: 0p;
  left: -75%;
  content: "";
  width: 50%;
  height: 110%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  top: -20px;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
}

.blogs__content-img:hover::before {
  -webkit-animation: windows 0.75s;
          animation: windows 0.75s;
}

.blogs__content-img img {
  width: 100%;
  height: 235px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.blogs__content-text {
  padding: 2rem;
  height: 50%;
}

.blogs__content-text h3 {
  color: #fff;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

.blogs__content-text p {
  letter-spacing: 0.5px;
  line-height: 1.9;
  color: #939699;
}

.contact {
  margin: 0 2rem;
}

.contact-info {
  border: 1px solid #313133;
  width: 100%;
  text-align: center;
  line-height: 1.9;
  will-change: border-color;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
  background-color: #1a1a1a;
}

.contact-info:hover {
  border-color: #ee2b3f;
}

.contact-info h3 {
  font-size: 1.7rem;
  padding: 1.5rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.contact-info p {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  font-weight: 200;
  color: #939699;
  padding-bottom: 1.5rem;
}

.contact__form-box {
  margin: 4rem 0;
}

.contact__form input,
.contact__form textarea,
.contact__form button {
  letter-spacing: 1px;
  background-color: transparent;
  text-align: center;
  width: 100%;
  height: 50px;
  border: 1px solid #313133;
  color: #939699;
  font-weight: bold;
  font-size: 1.4rem;
}

.contact__form textarea {
  font-family: "Saira", sans-serif;
  font-size: 1.6rem;
  height: 200px;
  width: 100%;
  max-width: 100%;
  resize: none;
}

.contact__form button {
  position: relative;
  margin: 2rem 0;
  background-color: #222222;
  cursor: pointer;
  z-index: 10;
}

.contact__form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background-color: #ee2b3f;
  will-change: width;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  z-index: -1;
}

.contact__form button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0px;
  background-color: #ee2b3f;
  will-change: width;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  z-index: -1;
}

.contact__form button:hover::after {
  width: 50%;
}

.contact__form button:hover::before {
  width: 50%;
}

.contact__form button i {
  color: white;
}

.contact__media {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact__media-icon {
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.2);
  background-color: #222222;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  cursor: pointer;
  will-change: background;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.contact__media-icon:hover {
  background-color: #ee2b3f;
}

.footer {
  background-color: #222222;
  border-top: 1px solid #313133;
  padding-bottom: 3rem;
  will-change: border-top-color;
  -webkit-transition: border-top-color 0.6s;
  transition: border-top-color 0.6s;
}

.footer:hover {
  border-top-color: #ee2b3f;
}

.footer-text {
  font-family: "Saira", sans-serif;
  text-align: center;
  font-size: 1.7rem;
  color: #939699;
  line-height: 3.5;
}

.footer-mail {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.footer-mail input {
  font-family: "Saira", sans-serif;
  height: 50px;
  width: 100%;
  background-color: transparent;
  color: #939699;
  text-align: left;
  padding-left: 2rem;
  font-size: 1.4rem;
  border: 1px solid #313133;
}

.footer-mail button {
  position: absolute;
  padding: 15px;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer-mail i {
  color: #939699;
  font-size: 1.5rem;
  will-change: color;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.footer-mail i:hover {
  color: #ee2b3f;
}

@media (max-width: 408px) {
  .text-title-small {
    position: relative;
    display: inline;
    font-size: 3.5rem;
    color: #939699;
    text-transform: capitalize;
    text-align: left;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin: 10rem 2rem 10rem 2rem;
    letter-spacing: 0.5px;
  }
  .text-title-small::before, .text-title-small::after {
    display: inline-block;
    position: absolute;
    content: "";
    height: 4px;
    width: 24px;
    background-color: #ee2b3f;
    border-bottom-left-radius: 100px;
    right: 29px;
    bottom: -40px;
  }
  .text-title-small::after {
    width: 15px;
    right: 11px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0px;
  }
  .team__box-card-one {
    margin-top: 10rem;
  }
  .resume__box-content-six {
    margin-bottom: 10rem;
  }
}

@media (min-width: 768px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__content--text {
    margin-left: 1.5em;
    -webkit-transition: border-color 0.5s;
    transition: border-color 0.5s;
  }
  .hero__content--text:hover {
    border-color: #ee2b3f;
  }
  .hero__menu {
    width: 100%;
  }
  .hero__menu-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: right;
    margin: 3rem;
    height: 50%;
  }
  .hero__menu-contact h4 {
    color: #fff;
    font-size: 2rem;
    margin: 2rem 0;
    text-transform: uppercase;
    letter-spacing: .5px;
  }
  .hero__menu-contact p {
    color: #939699;
    letter-spacing: .5px;
    text-transform: uppercase;
  }
  .hero__menu-contact span {
    color: #ee2b3f;
  }
  .hero__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 3px solid #313133;
    width: 40%;
    height: 100%;
  }
  .hero__menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .contact__form-box-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .hero__content--text {
    font-size: 2rem;
  }
  .hero__menu {
    width: 60%;
    border-right: 3px solid #ee2b3f;
  }
  .aboutus__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutus__img {
    width: 50%;
  }
  .aboutus__skills {
    width: 60%;
    margin: 2em;
  }
  .services__box-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__elements {
    border: 3px solid #313133;
  }
  .services__elements-two {
    margin: 0 2rem;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  .services__box-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .services__item {
    width: 100%;
  }
  .services__item-two {
    border-left: 3px solid #313133;
    border-right: 3px solid #313133;
    -webkit-transition: border-color 0.7s ease-in-out;
    transition: border-color 0.7s ease-in-out;
  }
  .services__item-two:hover {
    border-color: #ee2b3f;
  }
  .projects__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects__img-one {
    margin-right: 3rem;
  }
  .projects__img-three, .projects__img-four {
    margin-right: 3rem;
  }
  .projects__img-one, .projects__img-two {
    width: 48%;
  }
  .projects__img-three, .projects__img-four, .projects__img-five {
    width: 30%;
  }
  .resume__boxs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .resume__box {
    margin: 0 2rem;
  }
  .resume__box-content-two p:last-child, .resume__box-content-four p:last-child, .resume__box-content-six p:last-child {
    padding-bottom: 1rem;
  }
  .resume__box-contener {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
  }
  .resume__box-two::before {
    position: absolute;
    content: "";
    background-image: url(/img/dot.png);
    z-index: -10;
  }
  .team__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team__box-card-two {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .blogs__content-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blogs__content-card-two {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    margin: 0 3rem;
  }
  .blogs__content-img img {
    height: 240px;
  }
  .contact__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem;
  }
  .contact-info {
    width: 35%;
  }
  .contact__form-box-full {
    margin: 0 5rem;
  }
  .contact__form-box {
    width: 30%;
  }
  .contact input {
    width: 100%;
  }
  .contact__media {
    margin-top: 8rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__media-icon {
    margin: 1rem;
  }
  .footer {
    padding: 2rem 0;
  }
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-newslater {
    width: 60%;
    text-align: right;
  }
  .footer-newslater p {
    display: inline-block;
    margin-right: 2rem;
  }
  .footer-mail {
    margin-right: 2rem;
    display: inline-block;
    width: 40%;
  }
  .footer-text {
    margin-left: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */