*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: #333;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
}

.wrapper {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
}

.text-title {
  position: relative;
  display: inline-block;
  font-size: 3.5rem;
  color: #939699;
  text-transform: capitalize;
  text-align: left;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin: 10rem 2rem 10rem 2rem;
  letter-spacing: 0.5px;
}

.text-title::before, .text-title::after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 4px;
  width: 24px;
  background-color: #ee2b3f;
  border-bottom-left-radius: 100px;
  right: 1.8rem;
  bottom: -1px;
}

.text-title::after {
  width: 15px;
  right: 0;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0px;
}

.hero {
  background-image: url(../img/header.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero__nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 1110px;
  width: 100%;
  max-width: 1110px;
}

.hero__nav--logo {
  width: 10rem;
  height: 3.5rem;
  margin: 2rem;
}

.hero__nav--logo img {
  height: 3.6rem;
}

.hero__nav--btn {
  background: none;
  border: none;
  cursor: pointer;
  margin: 2rem;
}

.hero__nav--btn i {
  font-size: 3rem;
  color: #fff;
}

.hero__content {
  margin: 1em;
  color: #939699;
  font-size: 1.6rem;
  font-family: "Saira", sans-serif;
  letter-spacing: 0.5px;
}

.hero__content--text {
  border-left: 4px solid #313133;
  margin-bottom: 4rem;
}

.hero__content--text p {
  padding-left: 1rem;
}

.hero__content--text p:nth-child(even) {
  padding-left: 2rem;
}

.hero__content--fontsize {
  font-size: 2rem;
}

.aboutus {
  background-image: url(../img/bgc.jpg);
}

.aboutus__box {
  margin: 0 2rem 0 2rem;
}

.aboutus__img {
  position: relative;
  padding: 1.5rem;
  border: 1px solid #313133;
}

.aboutus__img::after {
  display: block;
  position: absolute;
  content: "";
  height: 6px;
  width: 75%;
  background-color: #ee2b3f;
  position: absolute;
  bottom: 13px;
}

.aboutus__img-woman {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 800px;
  width: 100%;
  height: 100%;
}

.aboutus__skills {
  margin-top: 3rem;
}

.aboutus__name {
  text-transform: capitalize;
  font-family: "Saira", sans-serif;
  font-size: 2.8rem;
  color: white;
  text-align: left;
  letter-spacing: 1px;
  font-weight: 600;
}

.aboutus__description {
  line-height: 1.9;
  font-size: 1.2em;
  margin-bottom: 6rem;
  letter-spacing: 0.5px;
}

.aboutus__procent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}

.aboutus__procent::before, .aboutus__procent::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 100%;
  background-color: #313133;
  bottom: -20px;
  left: 0;
}

.aboutus__procent-pd::after {
  background-color: #ee2b3f;
}

.aboutus__procent-ud::after {
  background-color: #ee2b3f;
  width: 90%;
}

.aboutus__procent-md::after {
  background-color: #ee2b3f;
  width: 70%;
}

.aboutus__procent-title {
  display: inline-block;
  text-align: left;
}

.aboutus__procent-score {
  display: inline-block;
  text-align: right;
}

.aboutus__btn {
  -webkit-transition: border-top-color .3s ease-out, border-right-color .3s ease-in-out .2s, border-bottom-color .3s ease-in-out .5s, border-left-color .3s ease-in-out .8s, background-color .5s;
  transition: border-top-color .3s ease-out, border-right-color .3s ease-in-out .2s, border-bottom-color .3s ease-in-out .5s, border-left-color .3s ease-in-out .8s, background-color .5s;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  background: none;
  border: 2px solid #313133;
  color: #939699;
  cursor: pointer;
}

.aboutus__btn:hover {
  border-color: #ee2b3f;
  color: white;
}

.services {
  background-image: url(../img/bgc.jpg);
}

.services__box {
  margin: 0 2rem;
}

.services__elements {
  width: 100%;
  border: 1px solid #313133;
  padding: 2rem;
  -webkit-transition: border-top-color .3s ease-out, border-right-color .3s ease-in-out .2s, border-bottom-color .3s ease-in-out .5s, border-left-color .3s ease-in-out .8s, background-color .5s;
  transition: border-top-color .3s ease-out, border-right-color .3s ease-in-out .2s, border-bottom-color .3s ease-in-out .5s, border-left-color .3s ease-in-out .8s, background-color .5s;
}

.services__elements:hover {
  border-color: #ee2b3f;
  background-color: transparent;
}

.services__elements i {
  font-size: 5rem;
  color: #939699;
}

.services__elements h4 {
  margin: 2rem 0;
  color: white;
  font-size: 2.5rem;
  font-weight: 200;
}

.services__elements-one, .services__elements-three {
  background-color: rgba(51, 51, 51, 0.2);
}

.services__elements-two {
  margin: 3rem 0;
  background-color: rgba(51, 51, 51, 0.5);
}

.services__box-two {
  margin-top: 10rem;
  border: 20px solid rgba(29, 30, 32, 0.7);
  background-color: rgba(29, 30, 32, 0.7);
}

.services__item {
  text-align: center;
  margin: 6rem 0;
}

.services__item h3 {
  margin: 0.8rem 0;
  color: #fff;
  font-weight: 200;
  font-size: 5rem;
}

.services__item span {
  color: #ee2b3f;
  font-weight: 200;
}

.services__item p {
  font-weight: 700;
}

.projects {
  background-image: url(../img/bgc.jpg);
  height: 300vh;
}

.projects__box {
  margin: 0 2rem;
}

.projects__img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
  -webkit-transition: -webkit-filter 3s;
  transition: -webkit-filter 3s;
  transition: filter 3s;
  transition: filter 3s, -webkit-filter 3s;
}

.projects__img:hover img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.projects__img:hover .projects__img-filtr {
  opacity: 1;
}

.projects__img:hover .projects__img-content {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.projects__img-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.projects__img-filtr {
  opacity: 0;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 25px;
  right: 25px;
  background-color: rgba(29, 30, 32, 0.4);
  z-index: 5;
  -webkit-transition: .6s;
  transition: .6s;
  cursor: pointer;
}

.projects__img-filtr i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  z-index: 1;
}

.projects__img-filtr-circle {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-clip-path: circle();
          clip-path: circle();
}

.projects__img h4 {
  font-size: 2rem;
}

.projects__img img {
  z-index: 0;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-filter .6s;
  transition: -webkit-filter .6s;
  transition: filter .6s;
  transition: filter .6s, -webkit-filter .6s;
}

@media (min-width: 768px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__content--text {
    margin-left: 1.5em;
    -webkit-transition: border-color 0.5s;
    transition: border-color 0.5s;
  }
  .hero__content--text:hover {
    border-color: #ee2b3f;
  }
}

@media (min-width: 992px) {
  .hero__content--text {
    font-size: 2rem;
  }
  .aboutus__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutus__img {
    width: 50%;
  }
  .aboutus__skills {
    width: 60%;
    margin: 2em;
  }
  .services__box-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__elements {
    border: 3px solid #313133;
  }
  .services__elements-two {
    margin: 0 2rem;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  .services__box-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .services__item {
    width: 100%;
  }
  .services__item-two {
    border-left: 3px solid #313133;
    border-right: 3px solid #313133;
    -webkit-transition: border-color 0.7s ease-in-out;
    transition: border-color 0.7s ease-in-out;
  }
  .services__item-two:hover {
    border-color: #ee2b3f;
  }
  .projects__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects__img-one {
    margin-right: 3rem;
  }
  .projects__img-three, .projects__img-four {
    margin-right: 3rem;
  }
  .projects__img-one, .projects__img-two {
    width: 48%;
  }
  .projects__img-three, .projects__img-four, .projects__img-five {
    width: 31%;
  }
}
/*# sourceMappingURL=style.css.map */