@media (min-width: 992px) {
	.hero {
		&__content {
			&--text {
				font-size: 2rem;
			}
		}

		&__menu{
			width: 60%;
			border-right: 3px solid $red;
		}
	}
	// =============================================================================
	// aboutus
	// =============================================================================
	.aboutus {
		&__box {
			// border: 1px solid $red;
			display: flex;
			justify-content: center;
		}

		&__img {
			// border: 1px solid $red;
			width: 50%;
		}

		&__skills {
			// border: 1px solid blue;
			width: 60%;
			margin: 2em;
		}
	}

	// =============================================================================
	// Services
	// =============================================================================
	.services {
		&__box-one {
			display: flex;
			justify-content: center;
		}
		&__elements {
			border: 3px solid $line-grey;

			&-two {
				margin: 0 2rem;
				transform: translateY(20%);
			}
		}

		&__box-two {
			display: flex;
			justify-content: space-evenly;
		}

		&__item {
			width: 100%;

			&-two {
				border-left: 3px solid $line-grey;
				border-right: 3px solid $line-grey;
				transition: border-color 0.7s ease-in-out;
				&:hover {
					border-color: $red;
				}
			}
		}
	}

	// =============================================================================
	// Projects
	// =============================================================================

	.projects {
		&__box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}

		&__img {
			&-one {
				margin-right: 3rem;
			}

			&-three,
			&-four {
				margin-right: 3rem;
			}

			&-one,
			&-two {
				width: 48%;
			}

			&-three,
			&-four,
			&-five {
				width: 30%;
			}
		}
	}
	// =============================================================================
	// resume
	// =============================================================================
	.resume {
		&__boxs {
			display: flex;

			justify-content: center;
			align-items: center;
		}
		&__box {
			margin: 0 2rem;
			&-content-two,
			&-content-four,
			&-content-six {
				p:last-child {
					padding-bottom: 1rem;
				}
			}
		}
		&__box-contener {
			transform: translateY(70px);
		}
		&__box-two {
			&::before {
				position: absolute;
				content: "";
				background-image: url(/img/dot.png);
				z-index: -10;
			}
		}
	}
	// =============================================================================
	// Team
	// =============================================================================
	.team {
		&__box {
			display: flex;
			justify-content: center;
			flex-direction: row;
			align-items: center;
			&-card {
				&-two {
					transform: translateY(40px);
					margin-left: 3rem;
					margin-right: 3rem;
				}
			}
		}
	}

	// =============================================================================
	// Blogs
	// =============================================================================

	.blogs {
		&__content {
			&-box {
				display: flex;
				justify-content: center;
			}

			&-card {
				&-two {
					transform: translateY(40px);
					margin: 0 3rem;
				}
			}

			&-img {
				img {
					height: 240px;
				}
			}
		}
	}
	// =============================================================================
	// contact
	// =============================================================================

	.contact {
		&__flex {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 2rem;
		}

		&-info {
			width: 35%;
		}

		&__form-box-full {
			margin: 0 5rem;
		}
		&__form-box {
			width: 30%;
		}
		input {
			width: 100%;
		}

		&__media {
			margin-top: 8rem;
			justify-content: center;
			&-icon {
				margin: 1rem;
			}
		}
	}

	.footer {
		padding: 2rem 0;

		&-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-newslater {
			width: 60%;
			text-align: right;

			p {
				display: inline-block;
				margin-right: 2rem;
			}
		}
		&-mail {
			margin-right: 2rem;
			display: inline-block;
			width: 40%;
		}

		&-text{
			margin-left: 2rem;
		}
	}
}
