@media (min-width: 768px) {
	.hero {
		&__content {
			display: flex;
			justify-content: center;

			&--text {
				margin-left: 1.5em;
				transition: border-color 0.5s;

				&:hover {
					border-color: $red;
				}
			}
		}
	}

	.contact{
		&__form{
			&-box-name{
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
