@import "./animation";
@import "./colors";
@import "./mixins";

// font-family: 'Cantarell', sans-serif;

// font-family: 'Cinzel', serif;

// font-family: 'Noto Sans', sans-serif;

// font-family: 'Roboto', sans-serif;

// font-family: 'Ubuntu', sans-serif;

// font-family: 'Saira', sans-serif

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// border: 1px solid red
}

*::selection {
	background: $red;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	// background-image: url(../img/bgc.jpg);
	background-color: $bgcbody;
	background-image: url(../img/bg-paterns.png);
	font-family: "Ubuntu", sans-serif;
	color: #ffffff;
}

textarea:focus,
button:focus,
input:focus {
	outline: none;
	border: 1px solid $red !important;
}

.wrapper {
	min-width: 200px;
	margin: 0 auto;
	max-width: 1110px;
	width: 100%;
	
}

.text-title {
	position: relative;
	display: inline-block;
	font-size: 3.5rem;
	color: $white;
	text-transform: capitalize;
	text-align: left;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	margin: 10rem 2rem 10rem 2rem;
	letter-spacing: 0.5px;

	&::before,
	&::after {
		display: inline-block;
		position: absolute;
		content: "";
		height: 4px;
		width: 24px;
		background-color: $red;
		border-bottom-left-radius: 100px;
		right: 1.8rem;
		bottom: -1px;
	}

	&::after {
		width: 15px;
		right: 0;
		border-top-right-radius: 100px;
		border-bottom-left-radius: 0px;
	}
}
// =====================================================================
// HERO
// =====================================================================

.hero {
	background-image: url(../img/header.jpg);
	height: 100vh;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

	&__menu {
		position: fixed;
		&-btn{
			position: absolute;
			right: 10px;
		}
		display: none;

		width: 100%;
		height: 100%;
		background-color: $bgccoxtwo;
		background-image: url(../img/bg-paterns.png);
		z-index: 500;
		&-box {
			
			background-image: url(../img/bg-paterns.png);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
		&-list {
			// text-align: center;
			background-color: transparent;
			span {
				font-size: 1.5rem;
				color: $red;
				display: inline-block;
			}

			a {
				position: relative;
				display: block;
				text-decoration: none;
				color: $white;
				padding: 2.6rem;
				font-size: 3rem;
			}

			a:before {
				position: absolute;
				content: "";
				display: inline-block;
				bottom: 17px;
				left: 10px;
				height: 0px;
				width: 2px;
				background-color: $red;
				will-change: height;
				transition: height 0.5s;
			}
			a:hover::before {
				height: 60%;
			}
		}

		&-contact {
			
			
			display: none;
		}
	}

	&__nav {
		position: absolute;
		display: flex;
		justify-content: space-between;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		max-width: 1110px;
		width: 100%;
		max-width: 1110px;

		&--logo {
			width: 10rem;
			height: 3.5rem;
			margin: 2rem;

			img {
				height: 3.6rem;
			}
		}

		&--btn {
			background: none;
			border: none;
			cursor: pointer;
			padding: 2rem;

			i {
				font-size: 3rem;
				color: #fff;
			}
		}
	}

	&__content {
		margin: 1em;
		color: $white;
		font-size: 1.6rem;
		font-family: "Saira", sans-serif;
		letter-spacing: 0.5px;

		&--text {
			border-left: 4px solid $line-grey;
			margin-bottom: 4rem;
			p {
				padding-left: 1rem;
				&:nth-child(even) {
					padding-left: 2rem;
				}
			}
		}

		&--fontsize {
			font-size: 2rem;
		}
	}
}

// =======================================================================
// ABOUT US
// =======================================================================

.aboutus {
	&__box {
		margin: 0 2rem 0 2rem;
	}

	&__img {
		position: relative;
		padding: 1.5rem;
		border: 1px solid $line-grey;
		box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);

		&::after {
			display: block;
			position: absolute;
			content: "";
			height: 6px;
			width: 75%;
			background-color: $red;
			position: absolute;
			bottom: 13px;
		}

		&-woman {
			object-fit: cover;
			max-width: 100%;
			max-height: 800px;
			width: 100%;
			height: 100%;
		}
	}

	&__skills {
		margin-top: 3rem;
	}
	&__name {
		text-transform: capitalize;
		font-family: "Saira", sans-serif;
		font-size: 2.8rem;
		color: white;
		text-align: left;
		letter-spacing: 1px;
		font-weight: 600;
	}

	&__description {
		line-height: 1.9;
		font-size: 1.2em;
		margin-bottom: 6rem;
		letter-spacing: 0.5px;
	}

	&__procent {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-bottom: 5rem;

		&::before,
		&::after {
			content: "";
			position: absolute;
			height: 6px;
			width: 100%;
			background-color: $line-grey;
			bottom: -20px;
			left: 0;
		}

		&-pd {
			&::after {
				background-color: $red;
			}
		}

		&-ud {
			&::after {
				background-color: $red;
				width: 90%;
			}
		}

		&-md {
			&::after {
				background-color: $red;
				width: 70%;
			}
		}

		&-title {
			display: inline-block;
			text-align: left;
		}
		&-score {
			display: inline-block;
			text-align: right;
		}
	}

	&__btn {
		@include borderanimation;
		padding: 1.5rem 3rem;
		font-size: 1.5rem;
		background: none;
		border: 2px solid $line-grey;
		color: $white;
		cursor: pointer;

		&:hover {
			border-color: $red;
			color: white;
		}
	}
}

// =============================================================================
// Services
// =============================================================================

.services {
	&__box {
		margin: 0 2rem;
	}

	&__box-two {
		box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
	}

	&__elements {
		width: 100%;
		border: 1px solid $line-grey;
		padding: 2rem;
		box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
		@include borderanimation;

		&:hover {
			border-color: $red;
			background-color: transparent;
		}
		i {
			font-size: 5rem;
			color: $white;
		}

		h4 {
			margin: 2rem 0;
			color: white;
			font-size: 2.5rem;
			font-weight: 200;
		}
		&-one,
		&-three {
			background-color: rgba(51, 51, 51, 0.2);
		}
		&-two {
			margin: 3rem 0;
			background-color: rgba(51, 51, 51, 0.5);
		}
	}

	&__box-two {
		margin-top: 10rem;
		border: 20px solid $border;
		background-color: #191a1c;
	}

	&__item {
		text-align: center;
		margin: 6rem 0;

		h3 {
			margin: 0.8rem 0;
			color: #fff;
			font-weight: 200;
			font-size: 5rem;
		}
		span {
			color: $red;
			font-weight: 200;
		}

		p {
			font-weight: 700;
		}
	}
}

// =============================================================================
// Projects
// =============================================================================

.projects {
	&__box {
		margin: 0 2rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__img {
		box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.2);
		width: 100%;
		height: 100%;
		position: relative;
		// border: 1px solid red;
		overflow: hidden;
		margin-bottom: 2rem;
		will-change: filter;
		transition: filter 3s;

		&:hover img {
			filter: blur(2px);
		}

		&:hover &-filtr {
			opacity: 1;
		}
		&:hover &-content {
			transform: translateY(100px);
		}

		&-content {
			position: absolute;
			bottom: 20px;
			left: 20px;
			transition: 3s;
		}
		&-filtr {
			opacity: 0;
			position: absolute;
			top: 20px;
			bottom: 20px;
			left: 25px;
			right: 25px;
			background-color: rgba(29, 30, 32, 0.4);
			z-index: 5;
			transition: 0.6s;
			cursor: pointer;

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 2rem;
				z-index: 1;
			}

			&-circle {
				position: absolute;
				background-color: rgba(0, 0, 0, 0.4);
				width: 50px;
				height: 50px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				clip-path: circle();
			}
		}
		h4 {
			font-size: 2rem;
		}

		img {
			z-index: 0;
			width: 100%;
			height: 350px;
			object-fit: cover;
			will-change: filter;
			transition: filter 0.6s;
		}
	}
}
// =============================================================================
// Resume
// =============================================================================

.resume {
	&__boxs {
		margin: 0 2rem;
		z-index: 10;
	}

	&__box {
		position: relative;
		margin-bottom: 5rem;
		box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
		

		&::before {
			position: absolute;
			content: "";
			background-image: url(/img/dot.png);
			width: 90%;
			height: 30%;
			right: -20px;
			bottom: -25px;
			background-size: 10px;
			z-index: -10;
		}

		&-one {
			border-top: 3px solid $red;
			background-color: $bgcbox;
		}

		&-two {
			border-top: 3px solid $yellow-line;
			background-color: $bgccoxtwo;

			&::before {
				will-change: opacity;
				transition: opacity 0.5s;
				opacity: 0;
			}
			&:hover::before {
				opacity: 1;
			}
		}

		&-three {
			border-top: 3px solid $blue-line;
			background-color: $bgcbox;

			&::before {
				will-change: opacity;
				transition: opacity 0.5s;
				opacity: 0;
			}
			&:hover::before {
				opacity: 1;
			}
		}

		&-content {
			margin-bottom: 3rem;
			h4 {
				padding: 3rem 2rem 2rem 2rem;
				font-size: 2rem;
				color: white;
			}

			h5 {
				padding: 0.5rem 2rem;
				font-size: 1.1em;
				font-weight: 400;
				color: #fff;
			}
			p {
				padding: 0 2rem;
				letter-spacing: 0.5px;
				line-height: 1.9;
				font-size: 1em;
				color: $white;
				padding-bottom: 1.5rem;
			}
		}
		&-content-two,
		&-content-four,
		&-content-six {
			@include contentLine;

			p:last-child {
				padding-bottom: 3rem;
			}
		}

		&-content-two {
			&::before {
				background-color: $red;
			}
		}

		&-content-four {
			&::before {
				background-color: $yellow-line;
			}
		}

		&-content-six {
			&::before {
				background-color: $blue-line;
			}
		}
	}
}

// =============================================================================
// Team

// =============================================================================

.team {
	margin: 0 2rem;

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		// overflow: hidden;
		&-img {
			position: relative;
			overflow: hidden;
		}

		&-media {
			bottom: -70px;
			position: absolute;
			transition: 0.5s;
			width: 100%;
		}

		&-center {
			display: flex;
			justify-content: space-evenly;
		}
		&-icon {
			cursor: pointer;
			height: 40px;
			width: 40px;
			background-color: $bgcbox;
			border-radius: 3px;
			line-height: 40px;
			text-align: center;
			will-change: background;
			transition: background 0.5s;

			&:hover {
				background-color: $red;
			}
		}
		///////////////////////////////////////////////////////////////
		&-card {
			margin: 0 2rem;
			margin-bottom: 4rem;
			max-width: 690px;
			box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);
			width: 100%;
			background-color: $bgcbox;

			&-one {
				&:hover .team__box-media {
					bottom: 30px;
				}

				&:hover img {
					filter: blur(2px);
				}
			}
			&-two {
				background-color: $bgccoxtwo;
				// background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);

				&:hover .team__box-media {
					bottom: 30px;
				}

				&:hover img {
					filter: blur(2px);
				}
			}

			&-three {
				&:hover .team__box-media {
					bottom: 30px;
				}

				&:hover img {
					filter: blur(2px);
				}
			}

			img {
				width: 100%;
				object-fit: cover;
				will-change: ofilter;
				transition: filter 0.3s;
				overflow: hidden;
			}
		}

		&-content {
			position: relative;

			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100px;

			h3 {
				font-size: 2rem;
				margin-left: 2rem;
				line-height: 2.6rem;
			}

			p {
				margin-left: 2rem;
				color: $white;
				line-height: 2.6rem;
			}
		}
	}
}

// =============================================================================
// blogs

// =============================================================================

.blogs {
	&__content {
		&-box {
			margin: 0 2rem;
		}

		&-card {
			position: relative;
			background-color: $bgcbox;
			width: 100%;
			height: 50%;
			margin-bottom: 5rem;
			box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.4);

			// @include animationLine;
		}

		&-card-one {
			&::after {
				background-color: $red;
			}
			@include animationLine;
		}

		&-card-two {
			&::after {
				background-color: #ffdb66;
			}
			@include animationLine;
		}

		&-card-three {
			&::after {
				background-color: $blue-line;
			}
			@include animationLine;
		}

		&-img {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 50%;

			&::before {
				position: absolute;
				top: 0p;
				left: -75%;
				content: "";
				width: 50%;
				height: 110%;
				background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
				top: -20px;
				transform: skewX(-25deg);
			}

			&:hover::before {
				animation: windows 0.75s;
			}

			img {
				width: 100%;
				height: 235px;
				object-fit: cover;
				object-position: center;
			}
		}

		&-text {
			padding: 2rem;
			height: 50%;

			h3 {
				color: #fff;
				margin-bottom: 1rem;
				letter-spacing: 0.5px;
			}

			p {
				letter-spacing: 0.5px;
				line-height: 1.9;
				color: $white;
				// padding: 2rem;
			}
		}
	}
}

.contact {
	margin: 0 2rem;

	&-info {
		border: 1px solid $line-grey;
		width: 100%;
		text-align: center;
		line-height: 1.9;
		will-change: border-color;
		transition: border-color 0.5s;
		background-color: $bgcbox;

		&:hover {
			border-color: $red;
		}

		h3 {
			font-size: 1.7rem;
			padding: 1.5rem;
			letter-spacing: 0.5px;
			text-transform: uppercase;
		}

		p {
			font-size: 1.3rem;
			letter-spacing: 0.5px;
			font-weight: 200;
			color: $white;
			padding-bottom: 1.5rem;
		}
	}

	&__form {
		&-box {
			margin: 4rem 0;
		}

		input,
		textarea,
		button {
			letter-spacing: 1px;
			background-color: transparent;
			text-align: center;
			width: 100%;
			height: 50px;
			border: 1px solid $line-grey;
			color: $white;
			font-weight: bold;
			font-size: 1.4rem;
		}

		textarea {
			font-family: "Saira", sans-serif;
			font-size: 1.6rem;
			height: 200px;
			width: 100%;
			max-width: 100%;

			resize: none;
		}

		button {
			position: relative;
			margin: 2rem 0;
			background-color: $bgccoxtwo;
			cursor: pointer;
			z-index: 10;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 0px;
				background-color: $red;
				will-change: width;
				transition: width 0.5s;
				z-index: -1;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 0px;
				background-color: $red;
				will-change: width;
				transition: width 0.5s;
				z-index: -1;
			}

			&:hover::after {
				width: 50%;
			}

			&:hover::before {
				width: 50%;
			}

			i {
				color: white;
			}
		}
	}

	&__media {
		margin: 3rem 0;
		display: flex;
		justify-content: space-evenly;

		&-icon {
			width: 40px;
			height: 40px;
			box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, 0.2);
			background-color: $bgccoxtwo;
			text-align: center;
			line-height: 40px;
			border-radius: 3px;
			cursor: pointer;
			will-change: background;
			transition: background 0.5s;

			&:hover {
				background-color: $red;
			}
		}
	}
}

// =============================================================================
// Formularz
// =============================================================================

.footer {
	
	background-color: $bgccoxtwo;
	border-top: 1px solid $line-grey;
	padding-bottom: 3rem;
	will-change: border-top-color;
	transition: border-top-color 0.6s;
	&:hover {
		border-top-color: $red;
	}

	&-text {
		font-family: "Saira", sans-serif;
		text-align: center;
		font-size: 1.7rem;
		color: $white;
		line-height: 3.5;
	}

	&-mail {
		position: relative;
		margin: 0 auto;
		width: 80%;

		input {
			font-family: "Saira", sans-serif;
			height: 50px;
			width: 100%;
			background-color: transparent;
			color: $white;
			text-align: left;
			padding-left: 2rem;
			font-size: 1.4rem;
			border: 1px solid $line-grey;
		}

		button {
			position: absolute;
			padding: 15px;
			top: 50%;
			right: 0px;
			transform: translateY(-50%);
			background-color: transparent;
			border: none;
			cursor: pointer;
		}

		i {
			color: $white;
			font-size: 1.5rem;
			will-change: color;
			transition: color 0.5s;
		}

		i:hover {
			color: $red;
		}
	}
}

@import "./small";
@import "./medium";
@import "./large";
