@import "./animation";
@import "./colors";
@import "./mixins";

// font-family: 'Cantarell', sans-serif;

// font-family: 'Cinzel', serif;

// font-family: 'Noto Sans', sans-serif;

// font-family: 'Roboto', sans-serif;

// font-family: 'Ubuntu', sans-serif;

// font-family: 'Saira', sans-serif;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	background-color: #333;
	font-family: "Ubuntu", sans-serif;
	color: #ffffff;
}

.wrapper {
	margin: 0 auto;
	max-width: 1110px;
	width: 100%;
}

.text-title {
	position: relative;
	display: inline-block;
	font-size: 3.5rem;
	color: $white;
	text-transform: capitalize;
	text-align: left;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	margin: 10rem 2rem 10rem 2rem;
	letter-spacing: 0.5px;

	&::before,
	&::after {
		display: inline-block;
		position: absolute;
		content: "";
		height: 4px;
		width: 24px;
		background-color: $red;
		border-bottom-left-radius: 100px;
		right: 1.8rem;
		bottom: -1px;
	}

	&::after {
		width: 15px;
		right: 0;
		border-top-right-radius: 100px;
		border-bottom-left-radius: 0px;
	}
}
// =====================================================================
// HERO
// =====================================================================

.hero {
	background-image: url(../img/header.jpg);
	height: 100vh;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

	&__nav {
		position: absolute;
		display: flex;
		justify-content: space-between;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		max-width: 1110px;
		width: 100%;
		max-width: 1110px;

		&--logo {
			width: 10rem;
			height: 3.5rem;
			margin: 2rem;

			img {
				height: 3.6rem;
			}
		}

		&--btn {
			background: none;
			border: none;
			cursor: pointer;
			margin: 2rem;

			i {
				font-size: 3rem;
				color: #fff;
			}
		}
	}

	&__content {
		margin: 1em;
		color: $white;
		font-size: 1.6rem;
		font-family: "Saira", sans-serif;
		letter-spacing: 0.5px;

		&--text {
			border-left: 4px solid $line-grey;
			margin-bottom: 4rem;
			p {
				padding-left: 1rem;
				&:nth-child(even) {
					padding-left: 2rem;
				}
			}
		}

		&--fontsize {
			font-size: 2rem;
		}
	}
}

// =======================================================================
// ABOUT US
// =======================================================================

.aboutus {
	// background-attachment: fixed;
	background-image: url(../img/bgc.jpg);

	&__box {
		margin: 0 2rem 0 2rem;
	}

	&__img {
		position: relative;
		padding: 1.5rem;
		border: 1px solid $line-grey;

		&::after {
			display: block;
			position: absolute;
			content: "";
			height: 6px;
			width: 75%;
			background-color: $red;
			position: absolute;
			bottom: 13px;
		}

		&-woman {
			object-fit: cover;
			max-width: 100%;
			max-height: 800px;
			width: 100%;
			height: 100%;
		}
	}

	&__skills {
		margin-top: 3rem;
	}
	&__name {
		text-transform: capitalize;
		font-family: "Saira", sans-serif;
		font-size: 2.8rem;
		color: white;
		text-align: left;
		letter-spacing: 1px;
		font-weight: 600;
	}

	&__description {
		line-height: 1.9;
		font-size: 1.2em;
		margin-bottom: 6rem;
		letter-spacing: 0.5px;
	}

	&__procent {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-bottom: 5rem;

		&::before,
		&::after {
			content: "";
			position: absolute;
			height: 6px;
			width: 100%;
			background-color: $line-grey;
			bottom: -20px;
			left: 0;
		}

		&-pd {
			&::after {
				background-color: $red;
			}
		}

		&-ud {
			&::after {
				background-color: $red;
				width: 90%;
			}
		}

		&-md {
			&::after {
				background-color: $red;
				width: 70%;
			}
		}

		&-title {
			display: inline-block;
			text-align: left;
		}
		&-score {
			display: inline-block;
			text-align: right;
		}
	}

	&__btn {
		@include borderanimation;
		padding: 1.5rem 3rem;
		font-size: 1.5rem;
		background: none;
		border: 2px solid $line-grey;
		color: $white;
		cursor: pointer;

		&:hover {
			border-color: $red;
			color: white;
		}
	}
}

// =============================================================================
// Services
// =============================================================================

.services {
	// background-attachment: fixed;
	background-image: url(../img/bgc.jpg);

	&__box {
		margin: 0 2rem;
	}

	&__elements {
		width: 100%;
		border: 1px solid $line-grey;
		padding: 2rem;

		@include borderanimation;

		&:hover {
			border-color: $red;
			background-color: transparent;
		}
		i {
			font-size: 5rem;
			color: $white;
		}

		h4 {
			margin: 2rem 0;
			color: white;
			font-size: 2.5rem;
			font-weight: 200;
		}
		&-one,
		&-three {
			background-color: rgba(51, 51, 51, 0.2);
		}
		&-two {
			margin: 3rem 0;
			background-color: rgba(51, 51, 51, 0.5);
		}
	}

	&__box-two {
		margin-top: 10rem;
		border: 20px solid $border;
		background-color: $border;
	}

	&__item {
		text-align: center;
		margin: 6rem 0;

		h3 {
			margin: 0.8rem 0;
			color: #fff;
			font-weight: 200;
			font-size: 5rem;
		}
		span {
			color: $red;
			font-weight: 200;
		}

		p {
			font-weight: 700;
		}
	}
}

// =============================================================================
// Projects
// =============================================================================

.projects {
	background-image: url(../img/bgc.jpg);
	height: 300vh;

	&__box {
		margin: 0 2rem;
	}

	&__img {
		width: 100%;
		height: 100%;
		position: relative;
		// border: 1px solid red;
		overflow: hidden;
		margin-bottom: 2rem;
		transition: filter 3s;


		&:hover img{
			
			filter: blur(2px);
		}

		&:hover &-filtr{
			opacity: 1;
		}
		&:hover &-content{
			transform: translateY(100px);
		}

		&-content {
			position: absolute;
			bottom: 20px;
			left: 20px;
			transition: 1s;
			
		}
		&-filtr {
			opacity: 0;
			position: absolute;
			top: 20px;
			bottom: 20px;
			left: 25px;
			right: 25px;
			background-color: rgba(29, 30, 32, 0.4);
			z-index: 5;
			transition: .6s;
			cursor: pointer;
			
			i{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 2rem;
				z-index: 1;
			}

			&-circle{
				position: absolute;
				background-color: rgba(0, 0, 0, 0.4);
				width: 50px;
				height: 50px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);	
				clip-path: circle();
				
			}

			
		}
		h4 {
			font-size: 2rem;
		}

		img {
			// filter: blur(2px);
			z-index: 0;
			width: 100%;
			height: 350px;
			object-fit: cover;
			transition: filter .6s;
			
		}
	}
}

@import "./small";
@import "./medium";
@import "./large";
